{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
<style>
    body {
        background-color: #0000; 
        font-family: Arial, sans-serif;
    }

    .example-wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
        gap: 30px; 
        padding: 100px;
        justify-items: center;
    }

    .article-card {
        width: 220px;
        height: 350px; 
        background-color: white;
        position: relative;
        overflow: hidden; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        color: white;
    }

    .article-card:hover {
        transform: scale(1.05); 
    }

    .article-card img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        z-index: 1;
        filter: brightness(70%); 
    }

    .article-card-content {
        position: relative;
        z-index: 2; 
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.4); 
        border-radius: 5px;
    }

    .article-card h2 {
        font-size: 1.1em;
        margin: 5px 0;
        color: #fff;
    }

    .article-card p {
        color: #fff;
        line-height: 1.4;
        margin-bottom: 5px;
        font-size: 0.9em;
    }

    .article-card strong {
        color: #fff;
    }

    @media (max-width: 1200px) {
        .example-wrapper {
            grid-template-columns: repeat(4, 1fr); 
        }
    }

    @media (max-width: 992px) {
        .example-wrapper {
            grid-template-columns: repeat(3, 1fr); 
        }

        .article-card {
            width: 200px;
            height: 300px; 
        }
    }

    @media (max-width: 768px) {
        .example-wrapper {
            grid-template-columns: repeat(2, 1fr); 
        }

        .article-card {
            width: 180px;
            height: 250px; 
        }
    }

    @media (max-width: 480px) {
        .example-wrapper {
            grid-template-columns: 1fr; 
        }

        .article-card {
            width: 100%; 
            height: auto; 
        }
    }
</style>

<div class="example-wrapper">
    {% for article in articles %}
        <div class="article-card">
        <a href="{{ path('app_article', { 'articleId': article.id }) }}" class="article-card">
            <img src="{{ article.img[0] }}" alt="Image de l'article">
            <div class="article-card-content">
                <h2>{{ article.title }}</h2>
                <p><strong>Prix :</strong> {{ article.price }} €</p>
            </div>
        </a>
    {% else %}
        <p>Aucun article trouvé.</p>
    {% endfor %}
</div>
{% endblock %}
