{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
<div class="bg-transparent font-sans">
    <div class="grid grid-cols-5 gap-8 p-24 justify-items-center sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
        {% for article in articles %}
        <a href="{{ path('app_article', { "articleId": article.id }) }}" class="no-underline text-black">
            <div class="relative w-56 h-88 bg-white overflow-hidden shadow-md transition-transform transform hover:scale-105 flex flex-col justify-end text-center text-white">
                {% if article.img is not empty %}
                    <img src="{{ article.img[0] }}" alt="Image de l'article" class="absolute top-0 left-0 w-full h-full object-cover z-10 filter brightness-75">
                {% else %}
                    <img src="/path/to/default/image.jpg" alt="Image par défaut" class="absolute top-0 left-0 w-full h-full object-cover z-10 filter brightness-75">
                {% endif %}
                <div class="relative z-20 p-5 bg-black bg-opacity-40 rounded">
                    <h2 class="text-lg mb-1">{{ article.title }}</h2>
                    <p class="text-sm leading-tight mb-1"><strong>Prix :</strong> {{ article.price }} €</p>
                </div>
            </div>
        {% else %}
            <p>Aucun article trouvé.</p>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
